html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
input,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  color: #fff;
}

h2 {
  font-family: 'Bebas Neue', cursive;
  font-weight: normal;
}

h3 {
  font-family: 'Bebas Neue', cursive;
  font-weight: normal;
  margin-left: -47px;
  margin-top: 13px;
  font-size: 20px;
}

li {
  list-style: none;
}

header {
  background-color: #8a2be291;
  color: rgb(255, 255, 255);
  height: 60px;
  font-weight: 500;
  position: fixed;
  width: 100%;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-left {
  position: absolute;
  width: 125px;
  height: 32px;
  left: 80px;
  top: 14px;
}

.header-right {
  float: right;
}

.header-right ul {
  padding: 20px 20px;
  cursor: pointer;
}

.header-right li {
  display: inline-block;
  margin: 0px 15px;
}

.header-right .menu {
  width: 18px;
  display: none;
}

.header-right li:hover {
  color: blue;
  transition: 0.5s;
}

.header-right span {
  background-color: blue;
  color: white;
  padding: 10px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.5s;
}

.header-right span:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(51, 63, 230);
  padding: 10px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(assets/banner.jpg);
  background-size: cover;
  text-align: left;
  padding-bottom: 30%;
}


.container h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 115px;
  display: flex;
  letter-spacing: -0.015em;
  color: white;
  width: 100%;
}

.lessons-wrapper {
  background-color: #F1EDF1;
  padding: 30px 50px;
  text-align: center;
}

.heading h1 {
  font-size: 48px;
  color: black;
  display: inline-block;
  letter-spacing: -0.015em;
}

.heading p {
  margin-bottom: 40px;
}


/* Bersama Kami */
.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.messages h1 {
  font-size: 48px;
  color: black;
  display: inline-block;
  letter-spacing: -0.015em;
}

.messages h2 {
  font-size: 30px;
  color: black;
  display: inline-block;
  padding-bottom: 50px;
  letter-spacing: -0.015em;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn {
  padding: 12px 24px;
  color: rgb(255, 255, 255);
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-decoration-line: none;
}

.btn:hover {
  box-shadow: 0 7px #1a307931;
}

.btn-wrapper p {
  margin: 10px 0;
}

.fa {
  margin-right: 5px;
}

.email {
  background-color: blue;
}

.google {
  background-color: rgb(206, 51, 40);
}

.github {
  background-color: rgb(10, 10, 15);
  margin-right: 10px;
}

.messages p {
  display: inline-block;
}

.team-wrapper {
  display: inline-block;
}

.team {
  width: 208px;
  height: 242px;
  border-radius: 4px;
  margin-right: 40px;
}

.team:hover {
  color: #000000;
  opacity: 0.8;
}

.contact-wrapper {
  padding-bottom: 80px;
  text-align: center;
}


/* Eric */

footer {
  position: absolute;
  width: 100%;
  height: 132px;
  left: 0px;
  background-color: #666666;
  color: #fff;
  padding-bottom: 50px;
}


.footer-logo {
  float: left;
  padding: 60px 0px;
  width: 208px;
  height: 63px;
}

.footer-list {
  float: right;
  cursor: pointer;
}

.footer-list ul {
  margin-top: 30px;
}

.footer-list li {
  padding: 10px 28px;
  font-size: 14px;
  height: 13px;
}

input {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}

textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}

.form span {
  color: brown;
}

.btn-input {
  background-color: blue;
  cursor: pointer;
  color: white;
}

.form p {
  text-align: left;
  margin-left: 386px;
}



/* Responsive Mobile */

@media (min-width: 320px) and (max-width: 767px) {

  h1 {
    font-size: 30px;
  }

  .lessons-wrapper {
    padding: 29px 0px;
}

  .top-wrapper {
    width: auto;
  }

  .container {
    width: auto;
    display: block;
  }

  .container h1 {
    font-size: 40px;
  }

  .header-right li {
    display: none;
  }

  .header-right span {
    display: none;
  }

  h3 {
    margin-left: 0px;
    margin-bottom: 25px;
  }

  input {
    width: 280px;
    padding: 7px;
    margin-left: -10px;
  }

  textarea {
    width: 280px;
    margin-left: -10px;
  }

  .form p {
    margin-left: -40px;
  }

  .heading p {
    font-size: 14px;
  }

  .team { 
    margin-right: 0px;
  }

  .header-right .menu {
    width: 18px;
  }

  .form p {
    margin-left: 0px;
}
}

/* Responsive Tablet */

@media (min-width: 768px) and (max-width: 1024px) {

  .top-wrapper {
    width: auto;
  }

  .container {
    width: auto;
    float: none;
  }

  .container h1 {
    margin-top: 20px;
    line-height: 90px;
    font-size: 75px;
  }

  .heading h1 {
    font-size: 50px;
  }

  .header-left {
    left: 12px;
  }

  .header-right li {
    font-size: 13px;
  }

  .team {
    width: 165px;
    height: 204px;
  }

  .messages h1 {
    font-size: 50px;
  }

  .messages h2 {
    width: 60%;
    font-size: 25px;
  }

  .form p {
    margin-left: 170px;
  }

}